<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Calculator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <body class = "bg-light">
        <nav class = "navbar navbar-expand-lg navbar-dark bg-dark mb4">
            <div class = "container">
                <a class = "navbar-brand" href = "{{url_for('home')}}"> Expense Calculator</a>
                <div>
                  
                    <a class="bt btn-light btn-sm me-3" href ="{{url_for ('view_categories')}}">Categories </a> 
                    <a class="bt btn-light btn-sm me" href ="{{ url_for('view_expenses') }}"> Expenses </a> 

                </div>
            </div>
        </nav>
        <div class = "container">
            {%block content%} {%endblock%}
        </div>
</body>
</html>